/* Empty. Add your own CSS if you like */
.login-text {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #aaa;
}

.title-center {
	width: 100%;
    display: block;
    float: left;
    margin: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .6);
}