<!--
  This template loads for the 'tab.participant-detail' state (app.js)
  'participant' is a $scope variable created in the ParticipantDetailCtrl controller (controllers.js)
  The ParticipantDetailCtrl pulls data from the Participants service (service.js)
  The Participants service returns a participant (as JSON)
-->
<ion-view title="Add Activity Log">
    <ion-content has-header="true" padding="true">
        <form name="newActivityLog" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username (must be an e-mail address):</span>
                    <input type="email" name="username" ng-model="activityLog.email" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Full Name:</span>
                    <input type="text" name="fullName" ng-model="activityLog.fullName" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Date:</span>
                    <input type="date" name="date" ng-model="activityLog.date" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Hours:</span>
                    <input type="number" name="hours" ng-model="activityLog.hours" required>
                </label>

            </div>
            <div class="padding">
                <button type="button" class="button button-block button-positive" ng-disabled="newActivityLog.$invalid" ng-click="saveActivityLog(activityLog)">Save</button>
            </div>
        </form>
    </ion-content>
</ion-view>
