<!--
  This template loads for the 'tab.participant-detail' state (app.js)
  'participant' is a $scope variable created in the ParticipantDetailCtrl controller (controllers.js)
  The ParticipantDetailCtrl pulls data from the Participants service (service.js)
  The Participants service returns a participant (as JSON)
-->
<ion-view title="{{participant.firstName}} {{participant.lastName}}">
    <ion-content has-header="true" padding="true">
        <div class="list">
            <label class="item">
                <span class="item-floating-label">Name:</span>
                <span>{{participant.fullName}}</span>
            </label>
            <label class="item">
                <span class="input-label">Nickname:</span>
                <span>{{participant.nickname}}</span>
            </label>
            <label class="item">
                <span class="input-label">Email:</span>
                <span>{{participant.email}}</span>
            </label>
            <label class="item">
                <span class="input-label">Type:</span>
                <span>{{participant.type}}</span>
            </label>
            <label ng-show="clients.length > 0" class="item ng-hide">
                <span class="input-label">{{clientLabel}}:</span>
                <div ng-repeat="client in clients">
                    <div>{{client.fullName}}</div>
                </div>
            </label>
            <label ng-show="participant.advocates.length > 0" class="item ng-hide">
                <span class="input-label">{{advocateLabel}}:</span>
                <div ng-repeat="advocate in participant.advocates">
                    <div>{{advocate}}</div>
                </div>
            </label>
            <label class="item">
                <span class="input-label">Consent to use likeness in media?:</span>
                <span>{{participant.mediaConsent ? "YES" : "NO"}}</span>
            </label>
            <label class="item">
                <span class="input-label">Location:</span>
                <span>{{participant.location}}</span>
            </label>
            <label class="item">
                <span class="input-label">Birthdate:</span>
                <span>{{participant.birthdate}}</span>
            </label>

        </div>
    </ion-content>
</ion-view>
