
<ion-view title="{{student.name}}">
    <ion-nav-buttons side="right">
        <a style="color: black;" class="button button-icon icon" ng-click="saveData()">Save</a>

    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label"><b>First Name</b></span>
            <input type="text" placeholder="John Doe" ng-model="student.name">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label"><b>Location</b></span>
            <input type="text" placeholder="Boston, MA" ng-model="student.location">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label"><b>Tutor</b></span>
            <input type="text" placeholder="John Doe" ng-model="student.tutor">
        </label>
    </div>
    </ion-content>
</ion-view>
