<ion-view title="Activities" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="filterBar.show(filterBarOptions)">
            <i class="icon ion-search"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="addActivityLog()">
            <i class="icon ion-ios-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="activityLog in filteredActivityLogs" type="item-text-wrap">
                {{activityLog.tutor.fullName}}<br>
                {{activityLog.student.fullName}}<br>
                {{activityLog.date | date: "MMMM yyyy"}}<br>
                {{activityLog.hours}}
            </ion-item>
        </ion-list>
        <button class="button button-icon" ng-csv="activityLogsExport()" csv-label="true" filename="activities.csv"><i class="icon ion-ios-download"></i></button>
    </ion-content>
</ion-view>

